# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [1]:
import pandas as pd

## imports for Python, Pandas

In [2]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [55]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [60]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

<ipython-input-60-3f27153e234a>:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [26]:
# frank's testing
json_normalize(data)

<ipython-input-26-cc5cf42ef0e4>:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  json_normalize(data)

,state,shortname,counties,info.governor
0,Florida,FL,"[{'name': 'Dade', 'population': 12345}, {'name...",Rick Scott
1,Ohio,OH,"[{'name': 'Summit', 'population': 1234}, {'nam...",John Kasich

In [12]:
# further populate tables created from nested element
pd.json_normalize(data, 'counties', ['state', 'shortname', 
                                  ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [13]:
# load json as string
data_json = json.load((open('data/world_bank_projects_less.json')))

In [14]:
data = json_normalize(data_json)

<ipython-input-14-bc188b2a2d4d>:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  data = json_normalize(data_json)

In [18]:
data

,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,docty,...,sector1.Name,sector1.Percent,sector2.Name,sector2.Percent,sector3.Name,sector3.Percent,sector4.Name,sector4.Percent,theme1.Name,theme1.Percent
0,1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,"Project Information Document,Indigenous People...",...,Primary education,46,Secondary education,26,Public administration- Other social services,16.0,Tertiary education,12.0,Education for all,100
1,2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,"Project Information Document,Integrated Safegu...",...,Public administration- Other social services,70,General public administration sector,30,NaN,NaN,NaN,NaN,Other economic management,30

In [19]:
# load as Pandas dataframe
# json_normalize(data_json, 'counties', ['state', 'shortname', ['info', 'governor']])
data = pd.DataFrame(data)

In [20]:
data.columns

Index(['approvalfy', 'board_approval_month', 'boardapprovaldate', 'borrower',
       'closingdate', 'country_namecode', 'countrycode', 'countryname',
       'countryshortname', 'docty', 'envassesmentcategorycode', 'grantamt',
       'ibrdcommamt', 'id', 'idacommamt', 'impagency', 'lendinginstr',
       'lendinginstrtype', 'lendprojectcost', 'majorsector_percent',
       'mjsector_namecode', 'mjtheme', 'mjtheme_namecode', 'mjthemecode',
       'prodline', 'prodlinetext', 'productlinetype', 'project_name',
       'projectdocs', 'projectfinancialtype', 'projectstatusdisplay',
       'regionname', 'sector', 'sector_namecode', 'sectorcode', 'source',
       'status', 'supplementprojectflg', 'theme_namecode', 'themecode',
       'totalamt', 'totalcommamt', 'url', '_id.$oid', 'project_abstract.cdata',
       'sector1.Name', 'sector1.Percent', 'sector2.Name', 'sector2.Percent',
       'sector3.Name', 'sector3.Percent', 'sector4.Name', 'sector4.Percent',
       'theme1.Name', 'theme1.Percent'],
      dtype='object')

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

### 1. Find the 10 countries with most projects

In [30]:
data_json = json.load((open('data/world_bank_projects.json')))

In [20]:
data.columns

Index(['approvalfy', 'board_approval_month', 'boardapprovaldate', 'borrower',
       'closingdate', 'country_namecode', 'countrycode', 'countryname',
       'countryshortname', 'docty', 'envassesmentcategorycode', 'grantamt',
       'ibrdcommamt', 'id', 'idacommamt', 'impagency', 'lendinginstr',
       'lendinginstrtype', 'lendprojectcost', 'majorsector_percent',
       'mjsector_namecode', 'mjtheme', 'mjtheme_namecode', 'mjthemecode',
       'prodline', 'prodlinetext', 'productlinetype', 'project_name',
       'projectdocs', 'projectfinancialtype', 'projectstatusdisplay',
       'regionname', 'sector', 'sector_namecode', 'sectorcode', 'source',
       'status', 'supplementprojectflg', 'theme_namecode', 'themecode',
       'totalamt', 'totalcommamt', 'url', '_id.$oid', 'project_abstract.cdata',
       'sector1.Name', 'sector1.Percent', 'sector2.Name', 'sector2.Percent',
       'sector3.Name', 'sector3.Percent', 'sector4.Name', 'sector4.Percent',
       'theme1.Name', 'theme1.Percent'],
      dtype='object')

In [34]:
temp = pd.json_normalize(data_json)

1. Find the 10 countries with most projects

In [73]:
temp.groupby(by="countryname",)['project_name'].count().sort_values(ascending=False)[:10]

countryname
People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
People's Republic of Bangladesh    12
Kingdom of Morocco                 12
Africa                             11
Republic of Mozambique             11
Name: project_name, dtype: int64

2. Find the top 10 major project themes (using column 'mjtheme_namecode')

In [78]:
proj_theme = pd.json_normalize(data_json, 'mjtheme_namecode')

In [82]:
proj_theme.groupby('name')['code'].count().sort_values(ascending=False)[:10]

name
Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: code, dtype: int64

In [92]:
proj_theme.loc[proj_theme['name'] != '']

     code name
1      11
13      6
17      8
19      7
24      2
...   ...  ...
1457    4
1477   11
1481    5
1483    8
1491    6

[122 rows x 2 columns]

In [93]:
proj_theme.head(10)

  code                                          name
0    8                             Human development
1   11
2    1                           Economic management
3    6         Social protection and risk management
4    5                         Trade and integration
5    2                      Public sector governance
6   11  Environment and natural resources management
7    6         Social protection and risk management
8    7                   Social dev/gender/inclusion
9    7                   Social dev/gender/inclusion

In [ ]:
proj_theme['code'].unique()

In [96]:
mapping = proj_theme.loc[proj_theme['name'] != ''].drop_duplicates()

In [97]:
mapping

    code                                          name
0      8                             Human development
2      1                           Economic management
3      6         Social protection and risk management
4      5                         Trade and integration
5      2                      Public sector governance
6     11  Environment and natural resources management
8      7                   Social dev/gender/inclusion
11     4      Financial and private sector development
18    10                             Rural development
53     9                             Urban development
252    3                                   Rule of law

In [130]:
mapping.loc[mapping['code'] == '9']['name']

53    Urban development
Name: name, dtype: object

In [137]:
proj_theme.apply(lambda x: x.)

     code                                      name
0       8                         Human development
1      11
2       1                       Economic management
3       6     Social protection and risk management
4       5                     Trade and integration
...   ...                                       ...
1494   10                         Rural development
1495    9                         Urban development
1496    8                         Human development
1497    5                     Trade and integration
1498    4  Financial and private sector development

[1499 rows x 2 columns]

In [120]:
# proj_theme.apply(lambda x: mapping.loc[x['code']]['name'] if x['name'] == '' else x['name'], axis = 1)
proj_theme['name'] = proj_theme.apply(lambda x: x['name']
                                      if x['name'] == ''  
                                      else x['name'])

KeyError: 'name'