# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [1]:
import pandas as pd

## imports for Python, Pandas

In [22]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [3]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [4]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

<ipython-input-4-3f27153e234a>:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [5]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

<ipython-input-5-6cca0a51391e>:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [11]:
# load json as string
data_json = json.load((open('data/world_bank_projects_less.json')))

In [16]:
data = json_normalize(data_json)

<ipython-input-16-bc188b2a2d4d>:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  data = json_normalize(data_json)

In [19]:
# load as Pandas dataframe
# json_normalize(data_json, 'counties', ['state', 'shortname', ['info', 'governor']])
data = pd.DataFrame(data)

In [20]:
data.columns

Index(['approvalfy', 'board_approval_month', 'boardapprovaldate', 'borrower',
       'closingdate', 'country_namecode', 'countrycode', 'countryname',
       'countryshortname', 'docty', 'envassesmentcategorycode', 'grantamt',
       'ibrdcommamt', 'id', 'idacommamt', 'impagency', 'lendinginstr',
       'lendinginstrtype', 'lendprojectcost', 'majorsector_percent',
       'mjsector_namecode', 'mjtheme', 'mjtheme_namecode', 'mjthemecode',
       'prodline', 'prodlinetext', 'productlinetype', 'project_name',
       'projectdocs', 'projectfinancialtype', 'projectstatusdisplay',
       'regionname', 'sector', 'sector_namecode', 'sectorcode', 'source',
       'status', 'supplementprojectflg', 'theme_namecode', 'themecode',
       'totalamt', 'totalcommamt', 'url', '_id.$oid', 'project_abstract.cdata',
       'sector1.Name', 'sector1.Percent', 'sector2.Name', 'sector2.Percent',
       'sector3.Name', 'sector3.Percent', 'sector4.Name', 'sector4.Percent',
       'theme1.Name', 'theme1.Percent'],
      dtype='object')

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

### 1. Find the 10 countries with most projects

In [21]:
data

,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,docty,...,sector1.Name,sector1.Percent,sector2.Name,sector2.Percent,sector3.Name,sector3.Percent,sector4.Name,sector4.Percent,theme1.Name,theme1.Percent
0,1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,"Project Information Document,Indigenous People...",...,Primary education,46,Secondary education,26,Public administration- Other social services,16.0,Tertiary education,12.0,Education for all,100
1,2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,"Project Information Document,Integrated Safegu...",...,Public administration- Other social services,70,General public administration sector,30,NaN,NaN,NaN,NaN,Other economic management,30